$primeryColor: #5E81F4;
$primeryHover: #475eaa;
$lightIfoCollor: #5E81F419;   
$backgroundPrimary: #F6F6F6;
$secendaryText: #8181A5;
$primerWhite:#ffffff;
$primeryText: #1c1d21;
$outline : #dbdbe0;

$warring: #F4BE5E;
$success:#7CE7AC;
$error : #FF808B;
$information : #9698D6;

$lighWarring: #F4BE5E;
$lightSuccess:#7CE7AC;
$lightError : #FF808B;
$lifghtInformation : #9698D6;




