$primeryColor: #5E81F4;
$primeryHover: #475eaa;
$lightIfoCollor: #5E81F419;   
$backgroundPrimary: #F6F6F6;
$secendaryText: #8181A5;
$primerWhite:#ffffff;
$primeryText: #1c1d21;
$outline : #dbdbe0;



